
# macOS
.DS_Store

# Python
__pycache__/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & training outputs
data/*
!data/.gitkeep
outputs/
checkpoints/
wandb/

build

#vscode
.vscode

# Build info
src/mixture_of_experts_project.egg-info/